/* Tableta y escritorio */
@media (min-width: 700px){
	.barra-busqueda{
		flex-flow: row nowrap;
	}
	.barra-busqueda input{
		flex-grow: 1;
	}
	.categorias{
		flex-flow: row wrap;
	}
	.categorias a{
		text-align: center;
	}
}

/* Móviles */
@media (max-width: 700px) {
	.barra-busqueda{
		flex-flow: column;
	}
	.categorias{
		flex-flow: column wrap;
	}
}
/* Categorías de cursos y grupos */
.categorias{
	border: 2px solid var(--color-enfasis);
	border-top: 0;
	display: flex;
}
.categorias a{
	flex-grow: 1;
	color: var(--color-normal);
	transition-property: background-color, color;
	transition-duration: 0.3s;
	padding: 0.8em;
}
.categorias a:hover{
	color: var(--color-contraste);
	background-color: var(--color-normal);
}
#alternar-categorias{
	cursor: pointer;
	padding: 0.5em;
	border-radius: 0;
	border: 0;
	background-color: var(--color-normal);
	color: var(--color-contraste);
}
#alternar-categorias:active{
	box-shadow: 0 0 1000px rgba(255, 255, 255, 0.2) inset;
}

/* Formulario de búsqueda */
.barra-busqueda{
	display: flex;
	margin-top: 1em;
}
.barra-busqueda input{
	font-weight: 100;
	border-radius: 0;
	padding: 1em;
	border: 1px solid rgb(200, 200, 200);
	background-color: var(--color-contraste);
}

.oculto{
	display: none;
}
